.header {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 68px;
    transition: all 0.3s ease;
    z-index: 1000;
}

.header.scroll {
    background-color: #1b1a2ea9;
    background-image: none;
}

.logo {
    display: flex;
    align-items: center;
}

.logo a {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--primary-color);
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.navbarToggler {
    display: none;
}

.navbarToggler span {
    background-color: #be50f4;
    display: block;
    height: 4px;
    left: 0;
    margin-bottom: 2px;
    margin-top: 2px;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    width: 27px;
    transition: all 0.3s ease;
}

.nav_list {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.nav_item svg {
    width: 18px;
    height: 18px;
    margin-right: 5px;
    fill: currentColor;
}

.nav_list li {
    padding: 14px 18px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--white-color);
    font-weight: 500;
}

.active.nav_item::after {
    background: #c95bf5;
    border-radius: 16px;
    content: "";
    display: block;
    height: 5px;
    left: 0;
    position: relative;
    transition: all .3s ease-out 0s;
    width: 100%;
}

.nav_item::after {
    background: #c95bf5;
    border-radius: 16px;
    content: "";
    display: block;
    height: 5px;
    left: 0;
    position: relative;
    transition: all .3s ease-out 0s;
    width: 0px;
}

.nav_item:hover::after {
    width: 100%;
}

.github_button {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(201, 91, 245, 0.4);
    border: 1px solid rgba(201, 91, 245, 0.6);
    border-radius: 5px;
    padding: 0 13px;
    transition: .3s linear;
}

.github_button:hover {
    transform: translateY(-2px);
    background-color: rgba(201, 91, 245, 0.5);
    border: 1px solid rgba(201, 91, 245, 0.8);
}

.github_button svg {
    width: 20px;
    height: 20px;
    color: white;
    margin: 5px 2px;
}

@media screen and (768px <= width < 992px) {
    .nav_item svg {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .header {
        background-color: #1b1a2ea9;
        background-image: none;
        height: fit-content;
        padding: 10px;
    }

    .navbarToggler {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
    }

    .header.active .navbarToggler span:nth-child(2) {
        display: none;
    }

    .header.active .navbarToggler span:nth-child(3) {
        transform: rotate(-225deg) translate(-2px, 4.5px);
        transition: all .3s ease;
    }

    .header.active .navbarToggler span:nth-child(1) {
        transform: rotate(225deg) translate(-0.5px, -3.5px);
        transition: all .3s ease;
    }

    .nav_list {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-height: 0;
        opacity: 0;
        transform: translateY(20px);
        overflow: hidden;
        transition: all 0.6s ease-in-out;
    }

    .nav_list.show {
        max-height: 500px;
        opacity: 1;
        transform: translateY(0);
    }

    .nav_list li{
        font-size: 2.5rem;
    }

    .nav_item svg {
        width: 30px;
        height: 30px;
    }
    

    .github_button svg {
        width: 50px;
        height: 30px;
    }

    .active.nav_item::after,
    .nav_item::after {
        content: "";
        display: none;
    }
}