.header {
    backdrop-filter: blur(5px);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 68px;
    transition: all 0.3s ease;
    z-index: 1000;
}

.header.scroll {
    background-color: #1b1a2ea9;
    background-image: none;
}

.logo {
    display: flex;
    align-items: center;
}

.logo a {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--primary-color);
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.nav_list {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.nav_item svg{
    width: 18px;
    height: 18px;
    margin-right: 5px;
    fill: currentColor;
}

.nav_list li {
    padding: 1.4rem 3.2rem;
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: var(--white-color);
    font-weight: 500;
}

.active.nav_item::after{
    background: #c95bf5;
    border-radius: 16px;
    content: "";
    display: block;
    height: 5px;
    left: 0;
    position: relative;
    transition: all .3s ease-out 0s;
    width: 100%;    
}

.nav_item::after{
    background: #c95bf5;
    border-radius: 16px;
    content: "";
    display: block;
    height: 5px;
    left: 0;
    position: relative;
    transition: all .3s ease-out 0s;
    width: 0px;    
}

.nav_item:hover::after {
    width: 100%;    
    
}

.github_button {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(201, 91, 245, 0.4);
    border: 1px solid rgba(201, 91, 245, 0.6);
    border-radius: 5px;
    padding: 0 13px;
    transition: .3s linear;
}

.github_button:hover {
    transform: translateY(-2px);
    background-color: rgba(201, 91, 245, 0.5);
    border: 1px solid rgba(201, 91, 245, 0.8);
}

.github_button svg{
    width: 20px;
    height: 20px;
    color: white;
    margin: 5px 2px;
}