body {
  margin: 0;
  font-family: Raleway, serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: 
  linear-gradient(to bottom left, hsla(0, 3%, 6%, 0.678), rgba(12, 10, 22, 0.863)),
  linear-gradient(270deg, #1b1429, #140f23);
  background-repeat: no-repeat;
  background-size: cover;      
  /* background-attachment: local;  */
  background-position: center; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  font-size: 62.5%; /* 62.5% của 16px = 10px → 1rem = 10px */
}
